---
import chuck from '@assets/chuck.jpg';
import catchers from '@assets/double-catcher.jpg';
import jones from '@assets/jones-swinging.jpg';
import players from '@assets/players.jpg';
import card from '@assets/vintage-card.jpg';
import Default from '@layouts/Default.astro';
import { Image } from 'astro:assets';
const { BASE_URL } = import.meta.env;
---

<Default>
  <div id="origins" class="container">
    <Image src={jones} alt="Batter swinging during Townball game" width={300} />
    <div>
      <h2>Is there a ball in your town?</h2>
      <p>
        A <span>historically rooted</span>, <span>player-focused</span>, and
        <br />
        <span>mathematically perfected</span> game of bat-and-ball.
      </p>
      <a href={`${BASE_URL}/history`} class="cta">Discover the Origins</a>
    </div>
  </div>

  <div id="roots" class="container wide">
    <Image src={chuck} alt="Fielder in ready position" width={300} />
    <div>
      <h2>Returning to the Roots</h2>
      <p>Overcommercialization, steroid use, and poor management have led to the decline of baseball in recent years. Hoever, the game of baseball itself is not completely without blame for its own demise. Townball is a compilation of the very best of what baseball has had to offer in all its various forms throughout the ages.</p>
      <p>Our mission is to <span>bring people back to the game</span>.</p>
      <a href={`${BASE_URL}/rules`} class="cta">Read the Rules</a>
    </div>
    <Image src={catchers} alt="Backup catcher ready for a wild pitch" width={300} />
  </div>

  <div id="history" class="container wide">
    <Image src={card} alt="Vintage baseball card" width={300} />
    <div>
      <h2>Massachussets to Modern Day</h2>
      <p>Twenty-First Century Townball is a bat-and-ball game based upon the version of base ball played in Massachusetts before the Civil War. We took the original rules of <span>The Massachussets Game</span> and perojected them to what we believe the game <span>would have become</span> if the Massachusetts-style of play had won out over that of New York as America's National Pastime.</p>
      <a href={`${BASE_URL}/history`} class="cta">Explore the History</a>
    </div>
  </div>

  <div id="contact" class="container wide">
    <div class="try-it-out-container">
      <h2>Try it Out!</h2>
      <p>Ready to <span>start playing</span>?</p>
      <p>Townball has been played in the U.S. in California, Oregon, Washington, Michigan, and New York. Send us a message to inquire about getting started with 21st Century Townball!</p>
      <a href={`${BASE_URL}/contact`} class="cta">Contact Us</a>
    </div>
    <Image src={players} alt="Townball players in Newberg, Oregon" width={300} />
  </div>
</Default>

<style lang="scss">
  :global(main) {
    max-width: none;
  }

  .container {
    margin: var(--sp-2) auto calc(var(--sp-4) * 1.5);
    display: flex;
    gap: var(--sp-2);
    align-items: center;
    max-width: max-content;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 800px) {
      flex-direction: column;
      padding: var(--sp-1);
      margin: 0;

      img {
        width: 100%;
        height: auto;
      }
    }

    h2 {
      margin-top: 0;
    }

    p {
      max-width: 500px;
      text-align: justify;
      span {
        background-color: var(--highlight);
        outline: var(--highlight) 0.2em solid;
        border-radius: 1px;
      }
    }

    img {
      --time: 200ms;
      position: relative;
      filter: grayscale(0.9) sepia(0.25);
      box-shadow: 0 0 0 var(--shadow);
      transition:
        filter calc(var(--time) * 1),
        scale calc(var(--time) * 2),
        box-shadow calc(var(--time) * 2),
        rotate calc(var(--time) * 3);

      @media (min-width: 800px) {
        &:hover {
          filter: none;
          rotate: -1deg;
          scale: 1.05;
          box-shadow: -0.25rem 1rem 1rem var(--shadow);
        }
      }
    }
  }

  .try-it-out-container {
    p {
      max-width: 450px;
    }
  }

  #roots {
    @media (max-width: 1200px) {
      img:first-child {
        display: none;
      }
    }
  }
</style>
