---
import Default from '@layouts/Default.astro';
import { getGames, getTeamId, getTeams } from '@scripts/data';
import { getFormattedDatetime } from '@scripts/utils';

// Create page for each team
export async function getStaticPaths() {
	const teams = await getTeams();
	return teams.map(team => ({
		params: team,
		props: team,
	}));
}

// Extract route params
const team = Astro.props;

// Get games that include this team
const games = (await getGames()).filter(game => getTeamId(game.homeTeam) === getTeamId(team) || getTeamId(game.visitingTeam) === getTeamId(team));
---

<Default title={`Statistics | ${team.name}`}>
	<section class="header">
		<h1>{team.name}</h1>
		<p>{team.season} Season</p>
		<hr class="stats">
		<h2>Games</h2>
		<p>All recorded games involving {team.name}.</p>
		<ul>
			{
				games.map(game => (
					<li>
						<a href={`/stats/games/${game.date}-${game.homeTeam.acronym}`}>
							{getFormattedDatetime(game.date)}: {game.homeTeam.acronym} v {game.visitingTeam.acronym}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Default>