---
import Logo from '@components/Logo.astro';
import Discord from '@components/icons/Discord.astro';
import Envelope from '@components/icons/Envelope.astro';
import Facebook from '@components/icons/Facebook.astro';
import Instagram from '@components/icons/Instagram.astro';
import YouTube from '@components/icons/YouTube.astro';
const { BASE_URL } = import.meta.env;
---

<footer>
  <nav>
    <a href="https://www.instagram.com/21ctownball/" target="_blank">
      <Instagram />
    </a>
    <a href="https://www.facebook.com/21ctownball" target="_blank">
      <Facebook />
    </a>
    <a href="https://www.youtube.com/@21stcenturytownball93" target="_blank">
      <YouTube />
    </a>
    <a href="https://discord.gg/5m8G4bZQx5" target="_blank">
      <Discord />
    </a>
    <a href="mailto:21ctownball@gmail.com" target="_blank">
      <Envelope />
    </a>
  </nav>
  <a href={`${BASE_URL}/`} class="logo-link">
    <Logo width={64} />
  </a>
  <nav>
    <a href={`${BASE_URL}/`}>Hom</a>
    <a href={`${BASE_URL}/rules`}>Rules</a>
    <a href={`${BASE_URL}/history`}>History</a>
    <a href={`${BASE_URL}/media`}>Media</a>
    <a href="https://thetownballzone.square.site" target="_blank">Shop</a>
    <a href={`${BASE_URL}/contact`}>Contact</a>
  </nav>
</footer>

<style lang="scss">
  footer {
    --box-shadow: 0 var(--sp-2) var(--sp-4) var(--shadow);
    background-color: var(--bg-bold);
    padding: var(--sp-half) var(--sp-2);
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    margin-top: var(--sp-4);

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      place-items: center;
      padding: var(--sp-1);
      gap: var(--sp-1);

      nav {
        --gap: calc(var(--sp-1) * 1.5) !important;
        justify-self: revert !important;
      }

      .logo-link {
        display: none;
      }
    }

    nav {
      --gap: var(--sp-2);
      display: flex;
      gap: var(--gap);

      &:first-of-type {
        justify-self: start;
      }

      &:last-of-type {
        justify-self: end;
      }

      a {
        color: var(--fg);
        text-decoration: none;
        font-family: 'Big Shoulders Text', sans-serif;
        position: relative;

        // dots between links
        &:not(:last-child)::after {
          font-family: sans-serif;
          content: '•';
          position: absolute;
          right: calc(var(--gap) * -0.5 - 0.1em);
          pointer-events: none;
        }

        :global(svg) {
          width: auto;
          height: 1em;
        }
      }
    }
  }
</style>
