---
type Link = {
  href: string;
  title: string;
  target: string;
  current: boolean;
};
import Logo from './Logo.astro';
const { url } = Astro;
const links: Link[] = [
  {
    title: 'Home',
    href: '/',
  },
  {
    title: 'Rules',
    href: '/rules',
  },
  {
    title: 'History',
    href: '/history',
  },
  {
    title: 'Media',
    href: '/media',
  },
  {
    title: 'Shop',
    href: 'https://thetownballzone.square.site',
  },
  {
    title: 'Contact',
    href: '/contact',
  },
].map((link) => ({
  ...link,
  target: /^https?/.test(link.href) ? '_blank' : '_self',
  current: link.href === '/' ? url.pathname === '/' : url.pathname.startsWith(link.href),
}));
---

<header>
  <div>
    <!-- left links -->
    {
      links.slice(0, 3).map((link) => (
        <a href={link.href} target={link.target} class:list={[{ current: link.current }]}>
          {link.title}
        </a>
      ))
    }

    <!-- logo -->
    <a href="/" class="logo-link">
      <Logo width={128} />
    </a>

    <!-- mobile menu toggle -->
    <input type="checkbox" />

    <!-- right links -->
    {
      links.slice(3).map((link) => (
        <a href={link.href} target={link.target} class:list={[{ current: link.current }]}>
          {link.title}
        </a>
      ))
    }
  </div>
</header>

<style lang="scss">
  @mixin mobile {
    @media (max-width: 900px) {
      @content;
    }
  }

  header {
    --box-shadow: 0 calc(var(--sp-1) * -1) var(--sp-4) var(--shadow);
    --font-size: 24px;
    --mobile-logo-size: 2em;
    --transition: 100ms;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    margin-bottom: var(--sp-4);
    background-color: var(--bg-bold);
    box-shadow: var(--box-shadow);
    transition: translate var(--transition);
    z-index: 100;

    @include mobile {
      margin-bottom: calc(var(--sp-4) * -4 - 4em);

      &:not(.open) {
        --offset: 14.75;
        translate: 0 calc(var(--font-size) * var(--offset) * -1);

        input,
        a.logo-link {
          translate: 0 calc(var(--font-size) * var(--offset) * 0.75);
        }
      }
    }

    // content
    > div {
      flex-grow: 1;
      max-width: 768px;
      display: flex;
      justify-content: space-between;
      align-items: inherit;
      font-size: var(--font-size);

      @include mobile {
        --font-size: 32px;
        flex-direction: column;
        justify-content: start;
        align-items: end;
        padding: var(--sp-1);
        padding-top: calc(var(--sp-3) + var(--mobile-logo-size));
      }

      // all links
      a {
        color: var(--fg);
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'Big Shoulders Text', sans-serif;
        font-size: inherit;
        padding: 0.1em 0.2em;
        background-color: transparent;
        transition: all var(--transition);
        border-radius: 1px;
        outline: none; /* override default :focus browser behavior */
      }

      // regular links
      a:not(.logo-link) {
        &:is(:hover, :focus, :active) {
          background-color: var(--highlight);
        }
        &.current {
          border-top: 2px solid var(--fg-mild);
          border-bottom: 2px solid var(--fg-mild);
        }
      }

      // logo link
      a.logo-link {
        position: relative;
        padding: var(--sp-1);
        border-radius: 50%;
        margin: calc(-0.5 * var(--sp-1)) 0 calc(-2 * var(--sp-1));
        background-color: var(--bg-bold);
        line-height: 0;

        :global(img) {
          transition: all var(--transition);
        }

        &:is(:hover, :focus, :active) :global(img) {
          scale: 1.05;
          transition: all var(--transition);
        }

        @include mobile {
          position: absolute;
          top: var(--sp-half);
          left: var(--sp-half);
          padding: var(--sp-half);
          margin: 0;
          background-color: transparent;
          border-radius: 0;
          z-index: 2;

          // pseudo-element hides other links like a blanket 🛏️
          &::after {
            content: '';
            position: absolute;
            top: -1em;
            bottom: -0.3em;
            left: -1em;
            right: calc(-100vw + 2em + var(--sp-2));
            background-color: var(--bg-bold);
            z-index: -1;
            pointer-events: none;
          }

          :global(img) {
            width: auto;
            height: var(--mobile-logo-size);
          }
        }
      }

      // mobile menu toggle
      input {
        --size: calc(var(--mobile-logo-size) * 0.8);
        display: none;
        position: absolute;
        appearance: none;
        font-size: inherit;
        top: 0.7em;
        right: var(--sp-half);
        width: var(--size);
        height: var(--size);
        scale: 0.8;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: translate var(--transition);
        z-index: 2;

        // logos from https://fontawesome.com
        // url-encoded at https://yoksel.github.io
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");

        &:checked {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E");
        }

        @include mobile {
          display: revert;
        }
      }
    }
  }
</style>

<script>
  const header = document.querySelector<HTMLElement>('header');
  const checkbox = header?.querySelector<HTMLInputElement>('input');

  // toggle the mobile menu
  function toggleOpen(force?: boolean) {
    header?.classList.toggle('open', force);
  }

  // checkbox toggles the menu
  checkbox?.addEventListener('change', () => toggleOpen());

  // close menu on scroll
  window.addEventListener('scroll', () => toggleOpen(false));

  // if any child of the body is clicked (aside from header)
  // then the menu will be closed
  Array.from(document.querySelector('body')?.children ?? []).forEach((element) => {
    if (element !== header) {
      element.addEventListener('click', () => toggleOpen(false));
    }
  });
</script>
