---
import Default from '@layouts/Default.astro';
import { getGames } from '@scripts/data';
import { getFormattedDatetime } from '@scripts/utils';

const games = await getGames();
---

<Default title="Statistics | Games">
	<section class="stats">
		<h1>Games</h1>
		<hr class="stats">
		<ul>
			{
				games.map((game) => (
					<li>
						<a href={`/stats/games/${game.date}-${game.homeTeam.acronym}`}>
							{getFormattedDatetime(game.date)}: {game.homeTeam.acronym} vs {game.visitingTeam.acronym}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</Default>
