---
import { getAbbreviations, getScoreboardFilePaths, getTeamsPerYear } from '@js/data';
import { getFormattedDatetime } from '@js/utils';
import Default from '@layouts/Default.astro';

const scoreboardFiles = getScoreboardFilePaths();
const teamsPerYear = getTeamsPerYear();
const abbreviations = await getAbbreviations();
---

<Default name="Townball Statistics">
  <h2>Townball Statistics</h2>

  {
    abbreviations.length > 0 && (
      <details>
        <summary>Abbreviations Reference</summary>
        <table>
          <thead>
            <tr>
              {Object.keys(abbreviations[0]).map((name) => (
                <th>{name}</th>
              ))}
            </tr>
          </thead>
          <tbody>
            {abbreviations.map(({ abbreviation, title, description }) => (
              <tr>
                <td>{abbreviation}</td>
                <td>{title}</td>
                <td>{description}</td>
              </tr>
            ))}
          </tbody>
        </table>
      </details>
    )
  }

  <h3>Game Scoresheets</h3>
  <ul>
    {
      scoreboardFiles.map((game) => (
        <li>
          <a href={`/stats/games/${game.date}`}>
            {getFormattedDatetime(game.date)}: {game.homeTeam} v {game.visitingTeam}
          </a>
        </li>
      ))
    }
  </ul>

  <h3>Team Statistics</h3>
  <ul>
    {
      Object.keys(teamsPerYear).flatMap((year) =>
        teamsPerYear[year].map((team) => (
          <li>
            <a href={`/stats/teams/${year}-${team}`}>
              {year}: {team}
            </a>
          </li>
        )),
      )
    }
  </ul>
</Default>
